@font-face {
    font-family: rockfire;
    src: url("Rockfire-Regular.otf");
}
*{
    font-family: rockfire;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    line-height: .85em;
}
body{
    background-color: #232323;
    color: rgb(109, 161, 215);
}
div{

}
h1{
    font-size: 2.5em;
    margin: 0em 20%;
}
p{
    font-size: 1.7em;
    margin: .1em 0;
}
div#game, div.info{
    width: 1280px;
    margin: auto;
}
canvas{
    margin-top: 2em;
}
a{
    color: rgb(0, 224, 255);
    text-decoration: none;
}

b{
    text-decoration: underline;
}
