@font-face {
    font-family: rockfire;
    src: url("Rockfire-Regular.otf");
}
*{
    font-family: rockfire;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(36, 38, 43);
    color: rgb(109, 161, 215);
}
div{

}
h1{
    font-size: 2.5em;
    margin: 0em 1em;
}
p{
    font-size: 1.7em;
    margin: .1em 0;
}
div#game{
    width: 1280px;
    margin: auto;
}
canvas{
    margin-top: 2em;
}
